{% extends 'base.html.twig' %}

{% block title %}Recuperation mot de passe
{% endblock %}

{% block body %}
	<section id="wrapper">
		<div class="login-register" style="background-image:url(./assets/images/background/login-register.jpg);">
			<div class="login-box card">
				<div class="card-body">
					{{ form_start(forgotPasswordFormStep2) }}
					<form class="form-horizontal form-material">
						<h3 class="box-title m-b-20">Etape 2</h3>
						<div class="form-group ">
							<div class="col-xs-12">
								{{ form_row(forgotPasswordFormStep2.password.first) }}
							</div>
						</div>
						<div class="form-group ">
							<div class="col-xs-12">
								{{ form_row(forgotPasswordFormStep2.password.second) }}
							</div>
						</div>
						<div class="form-group text-center m-t-20">
							<div class="col-xs-12">
								<button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Modifier password</button>
							</div>
						</div>
						<small>ce lien serra invalide a
							{{passewordMustBeModifiedBefore}}</small>
						{{ form_end(forgotPasswordFormStep2) }}

					</div>
				</div>
			</div>

		</section>
	{% endblock %}
