<!DOCTYPE html>
<html>
	<head>

		<!DOCTYPE html>
	</head>
</html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<!-- Favicon icon -->
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/images/favicon.png')}}">
		{% block stylesheets %}
			<title>Connection</title>
			<!-- Bootstrap Core CSS -->
			<link
			href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
			<!-- Custom CSS -->
			<link href="{{ asset('css/style.css')}}" rel="stylesheet">
		{% endblock %}


	</head>
	<body>
		{% block body %}
			<!-- ============================================================== -->
			<!-- Preloader - style you can find in spinners.css -->
			<!-- ============================================================== -->
				<div class="preloader"> <svg class="circular" viewbox="25 25 50 50">
					<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
				</svg>
			</div>
		{% endblock %}
	</body>
	{% block javascripts %}
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== --><script src="{{ asset('assets/plugins/jquery/jquery.min.js')}}"> </script>
		<!-- Bootstrap tether Core JavaScript -->
		<script src="{{ asset('assets/plugins/popper/popper.min.js')}}"></script>
		<script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
		<!-- slimscrollbar scrollbar JavaScript -->
		<script src="{{ asset('js/jquery.slimscroll.js')}}"></script>
		<!--Wave Effects -->
		<script src="{{ asset('js/waves.js')}}"></script>
		<!--Menu sidebar -->
		<script src="{{ asset('js/sidebarmenu.js')}}"></script>
		<!--stickey kit -->
		<script src="{{ asset('assets/plugins/sticky-kit-master/dist/sticky-kit.min.js')}}"></script>
		<script src="{{ asset('assets/plugins/sparkline/jquery.sparkline.min.js')}}"></script>
		<!--Custom JavaScript -->
		<script src="{{ asset('js/custom.min.js')}}"></script>
		<!-- ============================================================== -->
		<!-- Style switcher -->
		<!-- ============================================================== --><script src="{{ asset('assets/plugins/styleswitcher/jQuery.style.switcher.js')}}"> </script>
	{% endblock %}
</html>
